
#login
  position relative
  width 300px
  margin 100px auto
  td
    padding 10px
  button
    margin-right 10px

body
  font 12px Helvetica, Arial, sans-serif
  background-color: #FFFFFF
  //background: linear-gradient(to bottom, #EFEFEF, white) no-repeat

h1
  font-size: 63px
  color: #262626

p
  margin-bottom: 15px
  font-size: 21px
  font-weight: 200

.jumbotron h1, #successLogin h1, #successLogin h2
  color: #4086FA

#headerDiv
  margin: 0 auto
  margin-bottom: 20px
  background: white
  box-shadow: 1px 0px 8px black
  padding: 10px 0 10px 0
  background-color: #FEFEFE

#headerDiv h1
  margin-left: 10px
  font-size: 28px
  text-align: right
  margin-right: 5px

.borderPadding
  padding: 20px
  background: #E6E6E6
  border: 1px solid #bbbbbb

  border-radius: 10px
  -moz-border-radius: 10px
  -webkit-border-radius: 10px

#messageOutput
  width: 70%
  margin-left: 15%
  padding: 20px
  border-radius: 10px
  -moz-border-radius: 10px
  -webkit-border-radius: 10px

.btn
  margin-right 2px

#successLogin
  background-color: #E6E6E6;
  padding: 30px;
  border-radius: 10px;

footer
  margin-top: 40px
  text-align: center

footer p
  font-size: 12px
  margin-bottom: 5px
