doctype html
html
  head
    meta(charset='utf-8')
    title HDFS Web UI
    link(rel='icon', type='image/vnd.microsoft.icon', href='favicon.ico')
    link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
    link(rel='stylesheet', href='vendors/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='resources/webapp.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(type='text/javascript', src='vendors/jquery-1.11.1.min.js')
    script(type='text/javascript', src='vendors/bootstrap/js/bootstrap.min.js')
    script
      :coffee
        $().ready ->
          $('#successLogin').hide()
          $('#messageError').hide()
          $('#messageSuccess').hide()
          console.log 'ready'
          $('#login').submit (e) ->
            # TODO: validation
            $this = $(this)
            user =
              username: $('#login-username').val()
              password: $('#login-password').val()
            console.log 'user', user
            e.preventDefault()
            $.post "/login", user, (data) ->
              console.log 'data', data
              if data.success is true
                $('#login').hide()
                $('#loginText').text "Username: "+data.username+" - Password: "+data.password+" -Button: "+data.button
                $('#successLogin').show()
                $('#messageError').hide()
                $('#messageSuccess').show()
              else
                $('#login').show()
                $('#successLogin').hide()
                $('#messageError').show()
                $('#messageSuccess').hide()
            , 'json'
  body
    div#messageError
      h1 Error
      p Your username or password is wrong
      p Please try again or sign up
    
    div#messageSuccess
      h1 Hello
      p Your are well logged !
      
    div#login
      h1 SIGN IN
      form#login(action="/login", method="post", role="form")
        table
          tr.form-group
            th
              label(for="login-username") Username
            td
              input#login-username.form-control(type='text', name="username")
          tr.form-group
            th
              label(for="login-password") Password
            td
              input#login-password.form-control(type='password', name="password")
          tr.form-group
            th
            td
              input.btn.btn-primary(type='submit', value="Login")
              input.btn.btn-default(type='submit', value="Signin")
      
      h2 SIGN UP
      p Don't have LevelDB Account ?
      a(href="/signup") Sign up now
      
    div#successLogin
      p#loginText
