doctype html
html
  head
    meta(charset='utf-8')
    title HDFS Web UI
    link(rel='icon', type='image/vnd.microsoft.icon', href='favicon.ico')
    link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
    link(rel='stylesheet', href='vendors/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='resources/webapp.css')
    link(rel='stylesheet', href='ressources/webapp.styl')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(type='text/javascript', src='vendors/jquery-1.11.1.min.js')
    script(type='text/javascript', src='vendors/bootstrap/js/bootstrap.min.js')
    script
      :coffee
        $().ready ->
          $('#successLogin').hide()
          $('.signupForm').hide()
          $('#messageOutput').hide()
          console.log 'ready'

          $('#login').submit (e) ->
            $this = $(this)
            user =
              username: $('#login-username').val()
              email: $('#login-email').val()
              password: $('#login-password').val()
              repassword: $('#login-password-confirmation').val()
              firstname: $('#login-firstname').val()
              lastname: $('#login-lastname').val()
              button: $('#btn').val()
            console.log 'user', user
            e.preventDefault()
            $.post "/login", user, (data) ->
              console.log 'data', data

              if data.mode is 'login'
                if data.success is true
                  # User login password and username is ok
                  # $('#loginText').text "Username: " + data.username + " - Password: " + data.password
                  $('#loginText').text "You are well logged : " + data.username + " !"
                  $('#headerTitle').text data.username
                  $('#msgTitle').text "Login"
                  $('#msgText').text "You are well logged"
                  $('#signin').hide()
                  $('#messageOutput').show()
                  $('#successLogin').show()
                else
                  # User login password or username is wrong
                  $('#msgTitle').text "Error"
                  $('#msgText').text "Your username or password is wrong."
                  $('#messageOutput').show()

              else if data.mode is 'signup'
                # Display signup form
                $('.signupForm').show()
                $('.signinForm').hide()
                $('#headerTitle').text "Sign up and log"
              else if data.mode is 'signupAndLog'
                console.log data.success
                # Save and log
                if data.success is true
                  # User login password and username is ok
                  # $('#loginText').text "Username: " + data.username + " - Password: " + data.password
                  $('#headerTitle').text data.username
                  $('#loginText').text "You are well logged : " + data.username + " !"
                  $('#msgTitle').text "Login"
                  $('#msgText').text "You are well registered and logged."
                  $('#signin').hide()
                  $('#messageOutput').show()
                  $('#successLogin').show()
                else if data.success is false
                  $('#msgTitle').text "Error"
                  $('#msgText').text "Your username or password is already register."
                  $('#messageOutput').show()
                else if data.success is 'passwordNotOk'
                  $('#msgTitle').text "Error"
                  $('#msgText').text "Your passwords are not the same."
                  $('#messageOutput').show()
                else if data.success is 'fieldsEmpty'
                  $('#msgTitle').text "Error"
                  $('#msgText').text "All fields are not filled."
                  $('#messageOutput').show()
            , 'json'

          $('#export').submit (e) ->
            $this = $(this)
            e.preventDefault()
            $.post "/export", (data) ->
              console.log "export: " + data
              if data.success is true
                $('#exportMessage').text "Data register"
                $('#exportDiv').hide()
              else
                $('#exportMessage').text "No Data register"
            , 'json'

          $('#logout').submit (e) ->
            $this = $(this)
            console.log "logout submit"
            # e.preventDefault()
            # $.post "/logout", (data) ->
            # return
            # , 'json'


  body

    div#headerDiv
      h1#headerTitle Sign in

    div.jumbotron#messageOutput
      h1#msgTitle Message
      p#msgText text

    div#signin
      form.borderPadding#login(action="/login", method="post", role="form")
        table
          tr.form-group
            th
              label.signinForm(for="login-username") Username or email
              label.signupForm(for="login-username") Username
            td
              input#login-username.form-control(type='text', name="username")

          tr.form-group.signupForm
            th
              label(for="login-email") Email
            td
              input#login-email.form-control(type='text', name="email", placehoder="Mail")
          tr.form-group.signupForm
            th
              label(for="login-firstname") FirstName
            td
              input#login-firstname.form-control(type='text', name="firstname", placehoder="Firstname")
          tr.form-group.signupForm
            th
              label(for="login-lastname") LastName
            td
              input#login-lastname.form-control(type='text', name="lastname", placehoder="Lastname")

          tr.form-group
            th
              label(for="login-password") Password
            td
              input#login-password.form-control(type='password', name="password")
          tr.form-group.signupForm
            th
              label(for="login-password-confirmation") Re-Password
            td
              input#login-password-confirmation.form-control(type='password', name="password_confirmation", placehoder="Password_confirmation")

          tr.form-group
            th
            td
              input.btn.btn-primary.signinForm#btn(type='submit', value="Login")
              input.btn.btn-default.signinForm(type='submit', value="Signup", onclick="$('#btn').val('Signup')")
              input.btn.btn-primary.signupForm(type='submit', value="Signup And Login", onclick="$('#btn').val('SignupAndLog')")


    div#successLogin
      h2 Hello
      p#loginText

      div#exportDiv.row
        h2 Export database
        p#exportMessage
        p Click to export database
        form#export(action="/export", method="post", role="form")
          input.btn.btn-primary.col-md-1#exportBtn(type='submit', value="Export")
      div#logout.row
        h2 Logout
        p Click to logout
        form#logout(action="/logout", method="post", role="form")
          input.btn.btn-primary.col-md-1#logoutBtn(type='submit', value="Logout")

    footer
      p © 2014 - All rights reserved.
      p Alexandre Dejacques - Lauren Letestu - Thomas Pansart
